<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hunger games sim</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/pic/icon.png">
</head>
<body class="sim_page">
    <div id="event-container" class="event-container"></div>
    <div class="popup" id="popup">
        <div class="victory">

            <div class="match-header">
                Match ended
            </div>

            <div class="match-body">

                <div class="slot-column left">
                    <div class="slot"></div>
                    <div class="slot"></div>
                    <div class="slot"></div>
                </div>

                <div class="leaderboard" id="leader">
                    <img id="resultImage" src="" class="result-image" />
                </div>

                <div class="slot-column right">
                    <div class="slot"></div>
                    <div class="slot"></div>
                    <div class="slot"></div>
                </div>

            </div>

            <div class="match-footer" id="winamount"></div>

        </div>
    </div>
        <div class="map">
        <div id="map-wrapper">
            <img src="/pic/map.png" alt="" id="m_image">
        </div>
    <div class="character_placer" id="sub_base"></div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/js/sim.js"></script>
</body>
</html>